<h3 class="ui header">{{t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.дата-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.дата
      class=(if (v-get validationModel "дата" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-дата=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "дата" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.номер-caption")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.фамилия
      class=(if (v-get validationModel.сотрудники "фамилия" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.сотрудники.фамилия-caption")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-сотрудники-фамилия=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "фамилия" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.имя
      class=(if (v-get validationModel.сотрудники "имя" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.сотрудники.имя-caption")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-сотрудники-имя=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "имя" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.отчество
      class=(if (v-get validationModel.сотрудники "отчество" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.сотрудники.отчество-caption")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-сотрудники-отчество=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники "отчество" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.сотрудники.должности.наименование
      class=(if (v-get validationModel.сотрудники.должности "наименование" "isInvalid") "error")
      label=(t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.сотрудники.должности.наименование-caption")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-сотрудники-должности-наименование=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.сотрудники.должности "наименование" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-uchet-med-zueva7-список-на-медосм-e.контингентСотр-caption"}}</label>
    {{flexberry-groupedit
      componentName="контингентСотрGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.контингентСотр
      content=model.контингентСотр
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "контингентСотр" "isInvalid") "error")
      data-test-i-i-s-uchet-med-zueva7-список-на-медосм-e-контингентСотр=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "контингентСотр" "message")}}
  </div>
</form>
